<div class="columns">
  <div class="column"></div>
  <div class="column is-three-quarters has-text-centered">
    <h1 class="subtitle is-1"><%= t('home.welcome') %></h1>
    <%= form_tag(announcements_path, method: "get") do %>

    <div class="field is-grouped">
      <p class="control is-expanded has-icons-left">
        <input name='search' class="input is-medium" type="text" autofocus placeholder="<%= t('home.search.input') %>">
        <span class="icon is-small is-left">
          <i class="fa fa-search"></i>
        </span>
      </p>

      <p class="control">
        <%= submit_tag(t('home.search.button'), class: 'button is-medium is-primary') %>
      </p>
    </div>
        <% end %>
  </div>
  <div class="column"></div>
</div>