<div class="columns">
  <div class="column"></div>
  <div class="column is-three-quarters has-text-centered">
    <h1 class="subtitle is-1"><%= t('home.welcome') %></h1>

    <div class="field is-grouped">
      <p class="control is-expanded has-icons-left">
        <input class="input is-medium" type="text" autofocus placeholder="What are you searching for ?">
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>

      <p class="control">
        <a class="button is-medium is-primary">Search</a>
      </p>
    </div>
  </div>
  <div class="column"></div>
</div>
