// Place all the styles related to the Announcements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
  display: flex;
  margin-bottom: 20px;
}
.card-image {
  width: 300px;
  max-height: 300px;
}
