// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero.home {
  .title, .subtitle {
    color: white;
  }

  .hero-body {
    background-image: image-url("home_bg.jpg");
    background-size: cover;
  }
}
