<% content_for :content do %>
  <div class="tabs">
    <ul>
      <li class="<%= 'is-active' if controller.action_name == 'index' %>"><a href="./messages">Mes messages</a></li>
      <li><a href="./contacts">Mes contacts</a></li>
      <li><a href="./profile">Mon profil</a></li>
    </ul>
  </div>
  <%= yield %>
<% end %>
<%= render template: 'layouts/application' %>